# Gradle
.gradle/
build/
run/
run-data/

# IDE
.idea/
*.iml
*.ipr
*.iws
.eclipse/
.settings/
.classpath
.project
bin/

# OS
.DS_Store
Thumbs.db

# Minecraft
logs/
crash-reports/
saves/
options.txt
usercache.json
usernamecache.json
